<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="高云平台服务运维系统节点登录UKEY验证">
    <meta name="keywords" content="Gosunyun,UKey Verification">
    <meta name="author" content="高新兴机器人有限公司">
    <title>高云平台服务运维系统节点</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/Syunew3.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="loading">
      <p class="loading__txt"></p>
      <div class="loading__dot">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="loading__result is-hidden"></div>
    </div>
  </body>
</html>
